<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">         
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css" integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">
    <title>Document</title>
    <style>
.container{
            border: 1px solid rgb(167, 162, 162);
            border-radius: 5px;
            justify-content: center;
            display: block;
            border-radius: 8px;
            padding:30px;
            background-color: rgba(19, 214, 214, 0.3);
            width: 600px;
            height: 290px;
            padding-left: 80px;

            }

#main{
            display: flex;
            justify-content: center;
            display: block;
            border-radius: 8px;
            padding:25px;
            background-color: rgba(215, 230, 233, 0.3);
            width: 450px;
            height: 120px;
            font-size: 16px;
}
#back{
            text-align: left;
            font-family:Freestyle Script;
            font-size: 25px;
            color: rgb(14, 13, 13);
            
}
body{
    background-image: url('images/image3.jpg');
}
h1{
    text-align: center;
    color: rgb(54, 35, 35);
    font-family: Kristen ITC;
    font-size: 52px;
}
button{
    border-radius: 8px;
    font-family: Bell MT;
}
#form{
    font-family: Bell MT;
    font-size: 16px;
    padding-right: 80px;
    padding-left: 80px;
}
#welcome{
            text-align: center;
            font-family:Freestyle Script;
            font-size: 25px;
            color: white;
            }

            
    </style>
</head>
<body>
    <h1>logout</h1>
    <div class = "container">
        <div id ="welcome">
            <p>You can log out here</p>
            </div>

        <div id ="main">

            <form action="/logout" method="POST">
                <div id ="back"><a href="/">Back to Home</a> |</div>
                <button>Logout</button>
            </form>
        </div>
    </div>
</body>
</html>