<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css" integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">

    <title>Document</title>
    <style>
         body{

            background-repeat: cover;
            background-image: url('/images/image3.jpg');

            }
            .container{
            border: 1px solid rgb(167, 162, 162);
            border-radius: 5px;
            justify-content: center;
            display: block;
            border-radius: 8px;
            padding:30px;
            background-color: rgba(19, 214, 214, 0.3);
            width: 600px;
            height: 480px;

            }
            #main{
            display: flex;
            justify-content: center;
            display: block;
            border-radius: 8px;
            padding:25px;
            background-color: rgba(253, 253, 253, 0.3);
            width: 540px;
            height: 300px;
            font-family: Consolas;
            font-size: 16px;
            text-align: center;
            }
            #welcome{
            text-align: center;
            font-family:Freestyle Script;
            font-size: 35px;
            color: white;
            }

            h1{
            text-align: center;
            color: rgb(54, 35, 35);
            font-family: Kristen ITC;
            font-size: 52px;
            }
            #link{
            font-family: Bell MT;
            font-size: 18px;
            }
            #messages{
            text-align: center;
            font-family:Bell MT;
            font-size: 15px;
            color: black;   
            }
            button{
                border-radius: 8px;
                text-align: center;
            }

</style>
</head>
<body>
    <h1>Hello Write Message</h1>
    <div class = "container">
        <div id ="welcome">
        <h2>Welcome to the site</h2>
        <h3>post message here </h3>
        <h4>make an account, login, post a message, log out</h4>
    </div>
            <div id = "main">
                <div id ="link">
                <hr>
                    <a href="/createUser">Create an account</a> | 
                    <a href="/login">Login</a> | 
                    <a href="/">home</a> | 
                    <a href="/logout">Logout<a> 
                <hr>
                    </div>
                <div id ="messages">

                Write your message here
                <br></br>

                <form action="/message" method="POST">
                    Message: <input type="text" name="content" placeholder="Write message here">
                    <br></br>
                    <button>submit</button>
                </form>
                </div>
            </div>
    </div>

</body>
</html>